{% extends 'base.html' %}
{% block header %}
{% endblock %}

{% block content %}
    <form action="/auth/change-password" method="post">
    <input type="hidden" name="user_id" value="{{ context.data.user_id }}">
    <div class="container align-content-center card">
        <div class="row">
            <span class="row">
                <div class="col-3"><label>id:</label></div>
                <div class="col-6">
                    <label>{{ context.data.user_id }}</label>
                </div>
            </span>
        </div>
        <div class="row">
            <span class="row">
                <div class="col-3"><label>Current Password:</label></div>
                <div class="col-6">
                <input type="password" name="curr_pass" placeholder="current password" value="{{ context.data.password }}"/>
                </div>
            </span>
        </div>
         <div class="row">
            <span class="row">
                <div class="col-3"><label>New Password:</label></div>
                <div class="col-6">
                <input type="password" name="new_pass1" placeholder="new password" value="{{ context.data.pass1 }}"/>
                </div>
            </span>
        </div>
        <div class="row">
            <span class="row">
                <div class="col-3"><label>Confirm New Password:</label></div>
                <div class="col-6">
                <input type="password" name="new_pass2" placeholder="new password" value="{{ context.data.pass2 }}"/>
                </div>
            </span>
        </div>

        <div class="row">
            <div class="col-3">{{ context.data.message }}&nbsp;</div>
            <div class="col-6">
                <span>
                    <button type="submit" name="btn" value="update">Update Password</button>
                </span>
            </div>
        </div>

    </div>
    </form>

{% endblock %}
