{% extends 'base.html' %}
{% block header %}
{% endblock %}

{% block content %}
    <form method="post">
    <div class="container align-content-center card">
        <div class="row">
            <span class="row">
                <div class="col-3"><label>Username:</label></div>
                <div class="col-6">
                <input type="text" name="username" placeholder="Username" value="{{ context.username }}"/>
                </div>
            </span>
        </div>

        <div class="row">
            <span class="row">
                <div class="col-3"><label>Email:</label></div>
                <div class="col-6">
                <input type="text" name="email" placeholder="Email" value="{{ context.email }}"/>
                </div>
            </span>
        </div>


        <div class="row">
            <span class="row">
                <div class="col-3"><label>Password:</label></div>
                <div class="col-6"><input type="password" name="password" placeholder="password" value="{{ context.pw1 }}"></div>
            </span>
        </div>
        <div class="row">
            <span class="row">
                <div class="col-3"><label>Password Confirm:</label></div>
                <div class="col-6"><input type="password" name="password2" placeholder="password" value="{{ context.pw2 }}"></div>
            </span>
        </div>
        <div class="row">
            <div class="col-3">{{ context.feedback }}&nbsp;</div>
            <div class="col-6">
                <span>
                    <button type="submit" name="btn" value="create">Create Account</button>
                </span>
            </div>
        </div>

    </div>
    </form>

{% endblock %}



