{% extends 'base.html' %}
{% block header %}
{% endblock %}

{% block content %}
    <form action="/save" method="POST">
    <input type="hidden" name="id" value="{{ context.employee['id'] }}"/>
    <table class="table table-hover table-striped" id="system_table">
        <thead>
        <tr>
            <th>Info</th>
            <th class="img_style" >Image</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <table class="table table-striped">
                    <thead>
                    <tr><td>Type</td><td>Data</td></tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>First Name</td>
                        <td><input type="text" name="i_first_name" value="{{ context.employee['first_name'] }}"/></td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td><input type="text" name="i_last_name" value="{{ context.employee['last_name'] }}"/></td>
                    </tr>
                    <tr>
                        <td>Desk Phone</td>
                        <td><input type="text" name="i_desk_phone" value="{{ context.employee['desk_phone'] }}"/></td>
                    </tr>
                    <tr>
                        <td>Mobile Phone</td>
                        <td><input type="text" name="i_mobile_phone" value="{{ context.employee['mobile_phone'] }}"/></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><input type="email" name="i_email" value="{{ context.employee['email'] }}" /></td>
                    </tr>
                    <tr>
                        <td>Title</td>
                        <td><input type="text" name="i_title" value="{{ context.employee['title'] }}" /></td>
                    </tr>
                    <tr>
                        <td>Employee ID</td>
                        <td><input type="text" name="i_empid" value="{{ context.employee['empid'] }}"/></td>
                    </tr>
                    <tr>
                        <td>Location</td>
                        <td><input type="text" name="i_location" value="{{ context.employee['location'] }}"/></td>
                    </tr>
                    <tr>
                        <td>Start Date</td>
                        <td><input type="date" name="i_start_date" value="{{ context.employee['start_date'] }}"/></td>
                    </tr>
                    <tr>
                        <td>End Date</td>
                        <td><input type="date" name="i_end_date" value="{{ context.employee['end_date'] }}"/></td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td class="img_style">
                <img src="{{ context.imageurl }}"/>
            </td>
        </tr>
        </tbody>
    </table>
    <span>
    <button type="reset" onclick="window.location='/';" >Cancel</button>
    <button type="submit">Save</button>
    </span>
    </form>
{% endblock %}
