{% extends 'base.html' %}
{% block header %}
{% endblock %}

{% block content %}
    <table class="table table-hover table-striped" id="system_table">
        <thead>
        <tr>
            <th>Info</th>
            <th class="img_style">Image</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td>{{ context.employee['first_name'] }}</td>
                    </tr>
                    <tr>
                        <td>{{ context.employee['last_name'] }}</td>
                    </tr>
                    <tr>
                        <td>Desk Phone: {{ context.employee['desk_phone'] }}</td>
                    </tr>
                    <tr>
                        <td>Mobile Phone: {{ context.employee['mobile_phone'] }}</td>
                    </tr>
                    <tr>
                        <td>Email: {{ context.employee['email'] }}</td>
                    </tr>
                    <tr>
                        <td>Title: {{ context.employee['title'] }}</td>
                    </tr>
                    <tr>
                        <td>Employee ID: {{ context.employee['empid'] }}</td>
                    </tr>
                    <tr>
                        <td>Location: {{ context.employee['location'] }}</td>
                    </tr>
                    <tr>
                        <td>Start: {{ context.employee['start_date'] }}</td>
                    </tr>
                    <tr>
                        <td>End: {{ context.employee['end_date'] }}</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="/edit/{{ context.employee['empid'] }}">
                                <img src="{{ url_for('static', filename='/icons/pencil-square.svg') }}" alt="edit"/>
                            </a>
                            <a href="/upload/{{ context.employee['empid'] }}">
                                <img src="{{ url_for('static', filename='/icons/cloud-arrow-up.svg') }}"
                                     alt="upload image"/>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <img class="w-100" src="{{ context.imageurl }}"/>
            </td>
        </tr>
        </tbody>
    </table>

{% endblock %}



